.everything{
    background-image: linear-gradient(#020d6bbd,#020c66),url("bank pic.jpg");
    background-size: 300vh;
}



.text {
    width: 70vw;
   
   
}

.text p {
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-left: 10vw;
    font-size: 2rem;
    font-weight: 800;
}
