h1{
    padding-top: 10vh;
}

.date {
    padding-bottom: 10vh;
}

article {
    padding-left: 10vw;
    width: 55vw;
}

.everything {
    background-size: 700vw;
    background-image: linear-gradient(#020d6bbd,#020c66),url("pexels-andrea-de-santis-10899667.jpg");
    background-position: bottom;
}

h3 {
    padding-top: 7vh;
}

p {
    color: rgb(187, 187, 187);

}

li {
    color: rgb(187, 187, 187);

}

footer{
    padding-top: 10vh;
}

@media (max-width:500px){
    article{
        width: 80vw;
    }
}